{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

{{/* Get all regular pages and sort by date */}}
{{- $pages := site.RegularPages.ByDate.Reverse }}

{{- if site.Params.ShowAllPagesInArchive }}
{{- $pages = site.Pages }}
{{- end }}

{{- range $pages.GroupByDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <h2 class="archive-year-header">
    {{- replace .Key "0001" "" }}
  </h2>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 class="archive-month-header">{{- .Key }}</h3>
    <div class="archive-posts">
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
      <div class="archive-entry">
        <h3 class="archive-entry-title">
          <a href="{{ .Permalink }}" aria-label="post link to {{ .Title | plainify }}">{{ .Title | markdownify }}</a>
        </h3>
        <div class="archive-meta">
          {{- partial "post_meta.html" . -}}
        </div>
      </div>
      {{- end }}
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

{{- end }}{{- /* end main */ -}}